/**:not(body):not(html) {
  border:1px dashed #000;
}*/

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  background-color: #e7e7e7;
  margin: 0;
  height: 1060px;
}

#page {
    background-repeat: repeat-x;;
    background-image: url("../img/rag.png");
    padding: 2em 0;
    height: 100%;
    /*border: solid red 3px;*/
}

.logo {
  position: relative;
  overflow: hidden;
  float: left;
  margin-left: 8%;
}

.logo > img:first-child {
  position: absolute;
  top: 115px;
  left: 50%;
  transform: translatex(-50%);
}

.logo > img:nth-child(2) {
  margin-left: 50%;
  transform: translateX(-50%);
}

ul {
  padding: 0;
  width: 60%;
}

li {
  float: left;
  display: inline;
  border-bottom: 1px solid #898684;
  color: #890101;
  text-align: center;
  list-style: none;
  text-transform: uppercase;
  width: 30%;
}

li > p {
  font-size: .7em;
  margin: 0;
}

li > h5 {
  font-size: .95em;
  letter-spacing: .1em;
  margin: 0;
}

#body-text {
  margin: 0 13px 10px 13px;
  font-size: 1.1em;
  line-height: 1.35em;
}

#ornament-top {
  position: relative;
  overflow: hidden;
  width: 95%;
  margin-left: 50%;
  transform: translateX(-50%);
  height: 50px;
}

#victors {
  background-color: #e7e7e7;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -70%);
  font-size: 1.4em;
  width: 190px;
  text-align: center;
  z-index: 1;
  font-weight: 400;
}

#ampersand {
  font-family: fantasy;
}

#line-top {
  position: absolute;
}

.people > img {
  border-radius: 10px;
  box-shadow: 1px 3px 2px gray;
}

.people {
  text-align: center;
  color: #890101;
  text-transform: uppercase;
}

.people > p {
  font-size: .7em;
  margin-top: 4px;
  margin-bottom: 0;
}

.people > h5 {
  margin: 0 0 15px 0;
  font-size: .95em;
  letter-spacing: .1em;
}

.ornament-bottom {
  background-image: url("../img/ornament.png");
  background-position: center;
  background-repeat: no-repeat;
  background-position: top;
  overflow: hidden;
  width: 95%;
  margin-left: 50%;
  transform: translateX(-50%);
  height: 100px;
  text-align: center;
  font-size: .65em;
  letter-spacing: .06em;
}

.ornament-bottom p {
  margin-top: 40px;
}

.name {
  color: #890101;
}

#logo-sm {
  display: none;
}

@media screen and (max-width: 1299px) {

  .col-right {
    width: 65%;
    margin-left: 33%;
  }

  .col-left {
    float: left;
    width: 30%;
    margin-left: 3%;
    min-width: 178px;
  }

  ul {
    border-top: 1px solid #898684;
    float: none;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    float: none;
    width: 100%;
  }

  li {
    display: block;
    float: none;
    padding: 20px 0;
    width: 100%;
  }

  .col-right h3 {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    margin: 110px 0 0 0;
  }

  .people > img {
    width: 100%;
  }

  .people {
    float: left;
    width: 33%;
  }

  .col1 {
    padding: 0 5px 0 10px;
  }

  .col2 {
    padding: 0 10px 0 5px;
  }
}

@media screen and (max-width: 599px) {

  .col-right {
    width: 100%;
    margin-left: 0;
  }

  .col-right h3 {
    margin: 0 0 .3em 0;
    font-size: 1.5em;
  }

  .col-left {
    width: 100%;
    margin: 0 15px;
  }

  #logo-lg, #logo-bg {
    display: none;
  }

  #logo-sm {
    display:inline-block;
    margin-left: 50%;
    transform: translatex(-50%);
    margin-top: 28px;
    padding-bottom: 10px;
  }

  ul {
    width: 100%;
    margin-top: 0;
  }

  li {
    display: inline;
    float: left;
    font-size: .65em;
    text-transform: uppercase;
    font-family: sans-serif;
    margin: 0;
    width: 31.4%;
    padding: 10px 20px;
  }

  li h5 {
    font-weight: 400;
  }

  li:nth-child(2) {
    margin: 0 10px;
  }

  h3 {
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 1.4em;
  }
}

@media screen and (max-width:400px) {

  .people > img {
    width: 100%;
  }

  .people {
    float: left;
    width: 50%;
  }

  .col1 {
    padding: 0 5px 0 10px;
  }

  .col2 {
    padding: 0 10px 0 5px;
  }

}
